@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
 
  background-image: url(/images/backcover.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.container{
  width:90%;
  margin: auto;
}

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  2vw 0;
  }

  .nav-items{
    display: flex;

  }
  .menu{
    display: none;
  }

  nav .logo {
    width: 100px;
  }

  .nav-item {
    margin-left: 2vw;
    font-family: 'Roboto', sans-serif;
    color: #2f389d;
  }

  .signin-btn{
    border: none;
    padding: .8em 1.5em;
    font-size: .7rem;
    border-radius: 30px;
    color: white;
    background: linear-gradient(-45deg,#e664c6, #515cd2);

  }



/* ////////////////////////////////////////////////////// */
  .intro-section{
    display: flex;
    justify-content: space-between;

  }

  .left-section {
    margin-top: 4vw;
 
  }

.left-section h1 {
 font-size: 4.5rem;
 color: #3E4794;
 margin: 4vw 0 3vw 0;
 font-weight: 700;
}

.left-section h4{
 color: #565A7E;
 font-size: .9rem;
 font-weight: 500;
 line-height: 1.8em;
 margin-bottom: 4vw;

}

.learn-more-btn{
  border: 0;
    padding: .5em 1em;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 50px;
    color: white;
    background: linear-gradient(-45deg,#e664c6, #515cd2);

}

.imgs-div {
 position: relative;
}

.intro-image {
  width: 100vh;
  height: auto;
  object-fit: cover;
  object-position: center;
  
}


.vector-img {
  position: absolute;
  bottom: 10vw;
  left: 0;

}

.vector-dot{
  position: absolute;
  bottom: 16vw;
  left: 4vw;

}

@media (max-width:900px){
  .menu{
    display: block;
    margin-left: 1vw;
  }

  .nav-items{
    display: none;
  }

.btn{
  display: flex;
}

.imgs-div{
  order: -1;
  width:70vw;
  margin-top: 4vw;
}

.learn-more-btn{
    font-size: 1.5rem;
}

.intro-image{
width: 100%;
}

  .intro-section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left-section{
    text-align: center;
  }



}